# config.yaml

# Application settings
app:
  port: "127.0.0.1:18443"
  sslcert: "../tests/cert/certificate.crt"
  sslkey: "../tests/cert/private.key"
  testhttps: true

# RADIUS settings
radius:
  secret: "testing123"
  address: "<RADIUS_IP>:1812"